adfresources/pipeline/CopyPipeline_jsh.json
{
	"name": "CopyPipeline_jsh",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SourceDataset_jsh",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.itemName",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@item()",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['YearMonth']"
											},
											"sink": {
												"name": "SalesMonth"
											}
										},
										{
											"source": {
												"path": "$['StoreName']"
											},
											"sink": {
												"name": "OnlineRetailer"
											}
										},
										{
											"source": {
												"path": "$['Sales']['Product']"
											},
											"sink": {
												"name": "Title"
											}
										},
										{
											"source": {
												"path": "$['Sales']['Vintage']"
											},
											"sink": {
												"name": "Vintage"
											}
										},
										{
											"source": {
												"path": "$['Sales']['Variety']"
											},
											"sink": {
												"name": "Variety"
											}
										},
										{
											"source": {
												"path": "$['Sales']['Score']"
											},
											"sink": {
												"name": "Score"
											}
										},
										{
											"source": {
												"path": "$['Sales']['SalesPrice']"
											},
											"sink": {
												"name": "Price"
											}
										},
										{
											"source": {
												"path": "$['Sales']['SalesQty']"
											},
											"sink": {
												"name": "Quantity"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "SourceDataset_jsh",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().itemName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationDataset_jsh",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}